body {
  max-width: 600px;
  padding: 20px;
  margin-left: 30px;
  font-family: Verdana;
  font-size: 11px;
  color: #555555;
  line-height: 150%;
  letter-spacing: 0.25px;
}

details {
  margin-top: 20px;
  margin-bottom: 30px;
}

summary {
  font-style: italic;
  color: navy;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

ul li {
  margin-bottom: 5px;
}

.traverse-button {
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
}
