body * {
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
    font-size: 175%;
  }
  
  .grid {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    width: calc(8rem + 0.25rem * 4 + 0.25rem * 2);
    flex-wrap: wrap;
  }
  
  .grid > .cell {
    background: #eaeaea;
    width: 2rem;
    height: 2rem;
    margin: 0.125rem;
    text-align: center;
    padding: 0.5rem;
    border: none;
  }
  
  .grid > .cell:nth-child(4n - 2) {
    margin-right: 0.25rem;
  }
  
  .grid > .cell:nth-child(16n - 8) {
    margin-bottom:  0.25rem;
  }
  
  .grid > .cell.-current {
    background: #b8b8b8;
  }
  
  
  .controls {
    text-align: center;
    font-size: 110%;
    margin: 1rem;
  }
  
  .controls > .control {
    margin: 0 0.5rem;
  }
  
  .controls > .delay > input {
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .controls > .delay > input:focus {
    box-shadow: 0 0 8px #0C6291;
  }
  
  .controls > .button {
    border: 1px solid #2F4858;
    background: #0C6291;
    color: #F4F8FB;
    padding: 0.25rem 1rem;
    border-radius: 4px;
  }
  
  .message {
    margin: 2rem 0;
    text-align: center;
    font-size: 150%;
  }
  