*{
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #414042;
  color: rgb(128, 209, 241);
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
/*   előző szín
  background: #aca9ad; */
  background: rgb(41, 41, 41);
}
.container{
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  
  
}
.container .box{
  /* boxok beallitasa */
  width: calc(20% - 10px);
  /* background: rgb(88, 89, 100); */
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 25px;
}

.container .box .image{
/* kis kép a feladatrol */
  margin: 0px;
  height: 170px;
  width: 160px;


}
.box .image img{
/* kis kepek */
  height: 100%;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
/* a feladat alatt a szoveg */
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: whitesmoke;
}
.box .exercises{
/* a feladat szoveg beallitasai */
  margin: 10px 0 3px 0;
  color: #f5d51e;
  font-size: 25px;
  font-weight: 600;
}

.btns{
/* gombok beallitasai */

  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
/* gombok beallitasai */
  background: #f5d51e;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #f5d51e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #f5d51e;
  transition: all 0.3s linear;
}
.btns button:first-child{
/* gombok beallitasai */
  background: #093344;
  margin-right: 5px;
}
.btns button:last-child{
  /* gombok beallitasai */
    background: #093344;
    margin-right: 5px;
  }

/* meretek igazitasa */
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}

.footer{
  text-align: center;
  color: whitesmoke;
}

h1, h2{
  color: whitesmoke;
}