#canvas {
  border: 2px solid black;
  background-color: #615d5d;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 10px;
  right: 0;
}

#canvas1_2 {
  border: 2px solid black;
  background-color: #615d5d;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 10px;
  right: 0;
}

#canvas2 {
  
  background-color: #615d5d;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 10px;
  right: 0;
}
#canvas3 {
  
  background-color: #615d5d;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 10px;
  right: 0;
}

html,
body {
  display: block;
  height: 100%;
  place-items: center;
  /* background: rgb(41, 41, 41); */
  background: rgb(0, 0, 0);
}

/* A sok feladatok oldalaknál a nagy container */
.bigContainer .box02 {
  /*  width: calc(100% 10px);
   height: calc(100% -10px); */
  max-width: 1300px;
  margin: 0 auto;
  /* background: rgb(0, 0, 0); 
   background: #2A2438;
   background: #352F44;
   background: #5C5470;
   background: #DBD8E3; */
  background: rgb(41, 41, 41);
  border-radius: 20px;
  padding: 20px;
}

/* A sok feladatok oldalaknál a kis container */
.smallContainer {
  width: auto;
  /* background: rgb(191, 194, 193); */
  background: rgb(191, 194, 193);
  background: rgb(207, 198, 182);

  border-radius: 20px;
  margin: 20px;
}

/* Az oldalaknál a gombok kinezete*/
.example_b {
  color: #fff !important;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  background: #093344;

  padding: 8px;
  border-radius: 10px;
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: -10px;

  /* border: none; */
  transition: all 0.4s ease 0s;
}

.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* A sok feladatok oldalaknál a gomb kozepre helyezese*/
.example_c {
  color: #fff !important;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  background: #093344;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;

  margin: 0px;
  position: relative;

  left: 50%;
  -ms-transform: translate(-50% -50%);
  transform: translate(-60%, -15%);

  transition: all 0.4s ease 0s;
}

.example_c:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 48px;
  margin: 15px;
  text-align: center;
}

h2 {
  color: black;
  font-family: "Trocchi", serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 48px;
  margin: 15px;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Trocchi", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

/* A sok feladatok oldalaknál a feladat leírás */
.p2 {
  color: rgb(0, 0, 0);
  font-family: "Trocchi", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
  text-align: center;
}

/*Az 1.1 feladatnál az output*/
Output {

  margin-left: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.lepesek
{
  color: rgb(0, 0, 0);
  display: block; 
    margin: 0 auto;
 
}
.lepesekLeirasa{
 /* display: inline-block;
  color: #a30000;
   max-width: 50%;
  margin: 0 auto; */
  
  max-width: 650px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 20px;
}




li {
  color: rgb(0, 0, 0);
  max-width: 650px;
  margin: 0 auto;
}



/*Az 1.1 feladatnál a label*/
label {
  font-size: 28px;
  font-weight: bold;
  color: #a30000;
  margin-top: 5px;
  
}

.mellett {
  display: flex;
  justify-content: space-around;
}

/*Az 1.1 feladatnál a kék container*/
.container2 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 0px;
  float: left;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Az 1.1 feladatnál a kék container ami mar nincs*/
.container2 .box {
  width: 850px;
  height: 500px;
  background: rgb(62, 96, 150);
  align-items: center;
  padding: 30px 30px;
  border-radius: 5px;
}

/* A sok feladatok oldalaknál a nagy container */
.bigContainer {
  padding: 20px;
}


