@import url(https://fonts.googleapis.com/css?family=Montserrat);

@mixin dimensions($width: null, $height: $width) {
  width: $width;
  height: $height;
}

$tower-colour: saddlebrown;
$element-width: 67vw;
$spacing: 20px;

* {
  box-sizing: border-box;
}
body {
  background-color: wheat;
}

.container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 630px;
  min-height: 88px;
  margin: $spacing auto;
  padding: $spacing;
  box-sizing: content-box;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#towers {
  @include dimensions($element-width, 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing;
  margin: $spacing auto;

  ul {
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include dimensions(150px, 100%);
    min-width: 150px;
    padding: 0;
    margin: 0 30px;
    border-bottom: 7px $tower-colour solid;
    border-radius: 20px;
    list-style: none;
    transition: opacity 0.1s ease-in-out;

    &:before {
      content: "";
      background-color: $tower-colour;
      position: absolute;
      left: calc(50% - 0.4vw); // why did i use this value
      @include dimensions(7px, 100%);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      z-index: 9;
    }

    &.clickable {
      cursor: pointer;
    }
  }

  li {
    display: block;
    z-index: 19;
    height: 20px;
    border-radius: 10px;
    background-color: white;

    @for $i from 1 through 7 {
      &[id="disc-#{$i}"] {
        width: ($i * 10px) + 50px;
      }
    }
  }
}

#buttons {
  display: flex;
  justify-content: center;
  width: $element-width;
  padding: $spacing 0;
  margin: $spacing auto;

  div {
    display: block;
    border-radius: 5px;
    margin: 0 20px;
    padding: 20px 30px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;

    opacity: 0.5;

    &.clickable {
      cursor: pointer;
      transition: opacity 0.1s ease-in-out;
    }
  }

  .solve {
    background-color: darkgreen;
  }

  .restart {
    background-color: firebrick;
  }

  div.clickable:hover {
    opacity: 0.75;
  }

  div.clickable:active {
    opacity: 1;
  }
}
